.intro{
background-image: url("images/h_img.jpg");
background-size: cover;
margin: 10px;
color: white;
text-align: center;
height: 600px;
width: 1200px;
display: block;
margin: auto;
margin-top: 20px;
}
#logo{
  margin-top: 215px;
  width: 5%;
}
#h1{
  margin-top: 35px;
}
#h2{
  margin-top: 30px;
}
#mouse {
  margin-top: 70px;
}
.two{
  text-align: center;
  font-size: 12px;
  font-family: arial;
  line-height: 12px;
  font-weight: lighter;
  margin: 50px;
}
#service{
  margin-top: 30px;
}
.about{
  background-image: url("images/s_image.jpg");
  background-size: cover;
  height: 300px;
  width: 1200px;
  display: block;
  margin: auto;
  color: white;
  text-align: center;
  padding-top: 70px;
  font-size: 12px;
}
.hide1{
  display: none;
}
.hide2 {
  display: none;
}
.hide3{
  display: none;
}
#port{
  text-align: center;
}
.col-md-3 {
padding: 6px;
}
.four{
  display: flex;
  margin: 50px;
}
#pen {
  text-align: center;
  margin-top: 30px;
  text-align: center;
}
.form {
  background-image: url("images/c_image.jpg");
  background-size: cover;
  text-align: center;
  width: 1400px;
  display: block;
  margin: auto;
  padding: 70px;
}
.col-sm-form-group{
  display: inline-block;
  color: white;
  margin: 20px;
}
#name, #email, #message, #sub{
  background-color: transparent;
  color: white;
}
.media {
  position: absolute;
  left: 28%;
  margin: 10px;
  padding: 10px;
}
li {
  list-style: none;
  margin: 10px 10px;
  display: inline-block;
  text-align: center;
}

.container:hover .image {
  opacity: 1;
}


.text {
  text-align: center;
  padding-top: 85px;
  margin: 10px;
}
